[Unit]
Description=CNI DHCP service
Documentation=https://cni.dev/plugins/current/ipam/dhcp/
After=network.target cni-dhcp.socket
Requires=cni-dhcp.socket

[Service]
ExecStart=/usr/libexec/cni/dhcp daemon

[Install]
WantedBy=multi-user.target
