[Unit]
Description=CNI DHCP service socket
Documentation=https://cni.dev/plugins/current/ipam/dhcp/
PartOf=cni-dhcp.service

[Socket]
ListenStream=%t/cni/dhcp.sock
SocketMode=0660
RemoveOnStop=true

[Install]
WantedBy=sockets.target
