[Unit]
Description=Podman container-certbot.service
Documentation=man:podman-generate-systemd(1)
Requires=podman.socket
Wants=network.target
After=network-online.target podman.socket
RequiresMountsFor=/var/lib/containers/storage /var/run/containers/storage
ConditionPathIsDirectory=/mnt/data/etc/letsencrypt

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-certbot.pid %t/container-certbot.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-certbot.pid --cidfile %t/container-certbot.ctr-id --cgroups=no-conmon -d --replace --name certbot --label io.containers.autoupdate=image --net host --volume /mnt/data/etc/letsencrypt:/etc/letsencrypt:rw --volume /var/run/podman/podman.sock:/var/run/docker.sock ghcr.io/ntkme/certbot --http-01-port 8008
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-certbot.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-certbot.ctr-id
PIDFile=%t/container-certbot.pid
Type=forking

[Install]
WantedBy=multi-user.target
