[Unit]
Description=Caddy cerfiticates service
Requires=%N.path
After=%N.path
ConditionPathIsDirectory=/mnt/data/var/lib/caddy/certificates

[Service]
ExecStart=/usr/bin/podman run --rm --name caddy-certificates --net host --volume /mnt/data/var/lib/caddy/certificates:/var/lib/caddy/certificates:ro --volume /mnt/data/ssh/id_rsa:/root/.ssh/id_rsa:ro --volume /var/run/ssh_proxy_port:/etc/unifi-os/ssh_proxy_port:ro --volume /mnt/data/unifi-os:/data:rw --entrypoint /bin/sh ghcr.io/ntkme/unifi-ssh-proxy:edge -c 'cd "$(find /var/lib/caddy/certificates -mindepth 2 -maxdepth 2 -type d -name %H -print -quit)" && test -f %H.crt -a -f %H.key && if ! cmp -s %H.crt /data/unifi-core/config/unifi-core.crt || ! cmp -s %H.key /data/unifi-core/config/unifi-core.key; then cp %H.crt /data/unifi-core/config/unifi-core.crt && cp %H.key /data/unifi-core/config/unifi-core.key && /sbin/ssh-proxy "openssl pkcs12 -export -inkey /data/unifi-core/config/unifi-core.key -in /data/unifi-core/config/unifi-core.crt -out /data/unifi/data/keystore -name unifi -passout pass:aircontrolenterprise && nohup unifi-os restart >/dev/null 2>&1 &"; fi'
Type=oneshot

[Install]
WantedBy=multi-user.target
