[Unit]
Description=Podman container-inadyn.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
RequiresMountsFor=/var/lib/containers/storage /var/run/containers/storage
ConditionFileNotEmpty=/mnt/data/etc/inadyn/inadyn.conf

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-inadyn.pid %t/container-inadyn.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-inadyn.pid --cidfile %t/container-inadyn.ctr-id --cgroups=no-conmon --replace -d --rm --name inadyn --label io.containers.autoupdate=image --net host --volume /mnt/data/etc/inadyn/inadyn.conf:/etc/inadyn.conf:ro docker.io/troglobit/inadyn
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-inadyn.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-inadyn.ctr-id
PIDFile=%t/container-inadyn.pid
Type=forking

[Install]
WantedBy=multi-user.target
