[Unit]
Description=Podman container-homebridge@.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
RequiresMountsFor=/var/lib/containers/storage /var/run/containers/storage
ConditionPathIsDirectory=/mnt/data/var/lib/homebridge

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-homebridge.pid %t/container-homebridge.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-homebridge.pid --cidfile %t/container-homebridge.ctr-id --cgroups=no-conmon --replace --rm -d --name homebridge --net %i --volume /mnt/data/var/lib/homebridge:/homebridge docker.io/oznu/homebridge
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-homebridge.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-homebridge.ctr-id
PIDFile=%t/container-homebridge.pid
Type=forking

[Install]
WantedBy=multi-user.target
